# Entorno virtual
venv/
ENV/
env/
.venv/

# Archivos de base de datos
*.sqlite3
*.db
compras.db

# Archivos de configuración y caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pycache__/
*.pyo
*.pyd

# Archivos de logs
*.log

# Archivos de configuración de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
*.env

# Archivos de migraciones (si usas Flask-Migrate)
migrations/

# Archivos de test/coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/